<!DOCTYPE html>
<html>
<head>
    <style>
        .email-content {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div class="email-content">
        <h1>Resetowanie Hasła</h1>
        <p>Witaj, %userName%!</p>
        <p>Otrzymaliśmy prośbę o zresetowanie Twojego hasła. Jeżeli to byłeś/aś Ty, kliknij poniższy przycisk aby kontynuować. Jeśli nie rozpoznajesz tej akcji, zignoruj ten email.</p>
        <!-- Style is inline because it is the only way for it to not bug in gmail (wrong color of text in button)-->
        <a href="%resetLink%" style="display: inline-block; padding: 10px 20px; margin: 20px 0px; font-size: 18px; color: #ffffff; background-color: #007BFF; border: none; border-radius: 5px; text-decoration: none;">Zresetuj hasło</a>
    </div>
</body>
</html>

